@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-field .rbui-field-label--normal {
  color: #cbd5e1;
  font-size: 11px;
}
/* Unset button styles from Banana UI */
button:not(.rbui-button), button:not(.rbui-button)[type=button] {
  outline: none;
  display: unset;
  height: auto;
  width: auto;
  padding: unset;
  gap: unset;
  border-radius: unset;
  border: none;
  background-color: transparent;
  color: unset;
  cursor: pointer;
}

.lui-styled {
  --lui-pc-box-shadow: 0 2px 5px 0 #0028400f, 0 9px 9px 0 #0028400d, 0 20px 12px 0 #00284008, 0 36px 15px 0 #00284003, 0 57px 16px 0 #00284000;
}
