/*
If the tailwind play cdn javascript is not working, uncomment the block below and run the example

@tailwind base;
@tailwind components;
@tailwind utilities;

*/

.facet-label {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-width: 0;
  width: 100%;
  display: flex;
}

.toggle-field .rbui-field-label--normal {
  color: var(--banana-neutral-100);
  font-size: 11px;
}

.lui-styled {
  --lui-pc-box-shadow: 0 2px 5px 0 #0028400f, 0 9px 9px 0 #0028400d, 0 20px 12px 0 #00284008, 0 36px 15px 0 #00284003, 0 57px 16px 0 #00284000;
  --lui-pagination__item--active-background: #00b2db;
}

.lui-styled .lui-tag button {
  height: auto;
}

.lui-styled .lui-cg-item-checkbox {
  padding: 0;
}
