@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-field .rbui-field-label--normal {
  color: #cbd5e1;
  font-size: 11px;
}

.lui-styled {
  --lui-pc-box-shadow: 0 2px 5px 0 #0028400f, 0 9px 9px 0 #0028400d, 0 20px 12px 0 #00284008, 0 36px 15px 0 #00284003, 0 57px 16px 0 #00284000;
}
